.films {
	padding-top: 80px;
	display: grid;
	grid-template-columns: repeat(4, 20vw);
	row-gap: 16px;
	column-gap: 24px;
}

@media (max-width: 1300px) {
	.films {
		grid-template-columns: repeat(3, 25vw);
	}
}

@media (max-width: 1000px) {
	.films {
		grid-template-columns: repeat(2, 30vw);
	}
}