.header__navItem {
	padding: 12px 16px;
	display: flex;
	gap: 8px;
	align-items: center;
	text-decoration: none;
	color: var(--grey-200, #A8AEBF);
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	background: none;
	border: none;
	cursor: pointer;
}

.link {
	text-decoration: none;
}