.header {
  padding-top:16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 16px;
}

.header__navItem {
  padding: 12px 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;
  color: var(--grey-200, #A8AEBF);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.ellipse {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-color: #7B6EF6;
  border-radius: 12px;
  text-align: center;
  color: #FFFFFF;
}